html {
    background-color: rgb(236, 255, 95);
}

body {
    font-size: 20px;
}

p {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 231, 231);
    margin: 50px;
    padding: 40px;
}

h1 {
    font-size: 60px;
    color: rgb(0, 0, 0);
}

h2 {
    color: rgb(0, 0, 0);
}

li {
    color: rgb(0, 0, 0);
    list-style-type:none;
    text-align: center;
} 

.special {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    text-align: center;
    margin: 50px;
    padding: 40px;
}

