html {
    background-color: rgb(255, 240, 223);
}


body {
    font-size: 20px;
}

p {
    background-color: rgb(248, 225, 225);
    color: rgb(41, 40, 30);
    /* border: solid 5px white; */
    text-align: center;
    margin: 25px;
    padding: 50px;
    border-radius: 50%;
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 40px;
    color: rgb(41, 40, 30);
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

h3 {
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(41, 40, 30);
}

li {
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    background-color: rgb(255, 161, 191);
    border-radius: 15px;
    padding: 6px;
    margin-left: 20%;
    margin-right: 20%;
}

ul {
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(41, 40, 30);
    font-size: 18px;
}

a {
    color: rgb(10, 8, 9);
    text-decoration: none;
}