/* Parabolica Text Bold
font-family: "parabolica-text", sans-serif;
font-weight: 700;
font-style: normal; */

/* font-family: "swashington-jf", sans-serif;
font-weight: 400;
font-style: normal; */

/* font-family: "elza-narrow", sans-serif;
font-weight: 400;
font-style: normal; */

body {
    font-size: 20px;
    /* background-color: rgb(59, 55, 50); */
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

h1 {
    font-size: 55px;
    color: rgb(255, 253, 233);
    font-family: "swashington-jf", sans-serif;
    font-weight: 400;
    font-style: normal;
     margin-top: 50px;
    text-align: left;
}

h2 {
    font-size: 12px;
    color: rgb(255, 253, 233);
    font-family: "elza-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;    
    margin-top: 10px;
    text-align: left;
    text-decoration: underline;
}

li {
    font-family: "elza-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;    
    text-align: left;
    text-decoration: none;
    list-style-type: none;
}

ul {
    font-family: "elza-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;    font-size: 12px;
    text-align: left;
    margin: 0;
    padding:0;
}

a {
    color: rgb(255, 253, 233);
    text-decoration: none;
    font-family: "elza-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a:hover {
    color: rgb(255, 239, 219);
    text-decoration: underline;
}
.sections {
    display: flex;
}

.exercises {
    margin-left: 30px;
}