html {
    background-color:  rgb(222, 240, 206);
}

body {
    font-family: "galix-mono-thin", sans-serif;
    font-weight: 200;
    font-style: normal;
}

h1 {
    margin-top: 220px;
    margin-bottom: 0px;
        text-align: center;

}

p {
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: antiquewhite;
    padding: 70px;
    border-radius: 15px;
    border-color:black;
    border-style: solid;
    border-width: 3px;
        text-align: center;

}

a {
    margin-left: 100px;
    margin: 50px;
    text-decoration: none;
    color: black;
    font-family: "galix-mono", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
}