html {
    background-color: rgb(255, 240, 223);
}

/* FONTS */

body {
    font-size: 20px;
}

p {
    background-color: rgb(248, 225, 225);
    color: rgb(41, 40, 30);
    /* border: solid 5px white; */
    text-align: center;
    margin: 25px;
    padding: 50px;
    border-radius: 50%;
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 60px;
    color: rgb(41, 40, 30);
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-style: italic;
}

h2 {
    color: rgb(41, 40, 30);
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(41, 40, 30);

}



.special {
    background-color: white;
    color: brown;
    border-radius: 30px;
}