html {
    background-color: rgb(236, 255, 95);
}

body {
    font-size: 20px;
}

p {
    background-color: rgb(41, 40, 30);
    color:rgb(255, 231, 231);
    border: solid 5px white;
    text-align: center;

    margin: 50px;
}

h1 {
    font-size: 60px;
    color: rgb(0, 0, 0);
}
h2 {
    color: rgb(0, 0, 0);
}

li {
    color: pink;
}

.special {
    background-color: white;
    color: brown;
    border-radius: 30px;
}