* {
    box-sizing: border-box;
}

html {
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 242, 185);
    background-color: rgb(136, 110, 95);

}

.block {
    background-color: darkolivegreen;
    width: 200px;
    height: 50px;
    margin:20px;
    padding: 20px;
}

.inline {
    background-color: lightcoral;
    width: 100px;
    height: 100px;
    margin:50px;
    padding: 40px;
    display: inline-block;
}

.container {
    background-color: rgb(90, 90, 43);
    padding: 30px;
    display: flex;
    height: 600px;

    flex-direction: row;

/* cross-axis alignment for non wrapping flex boxes */
    align-items: flex-start;

/* main-axis alignment */
    justify-content: center;
    /* justify-content: flex-end; */
    /* justify-content: space-evenly; */

/* establishes the main axis */
    /* flex-wrap: wrap-reverse; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;

/*cross-axis alignment for wrapping flexboxes  */
    align-content:center;
    /* align-content:space-evenly; */
    gap: 20px;
}

.item {
    /* background-color: rgb(133, 170, 96); */
    padding: 10px;
    border: .5px solid;
    width: 100px;
    height: 100px;

}