html {
    background-color: rgb(255, 240, 223);
}

/* FONTS */

body {
    font-size: 20px;
}

p {
    background-color: rgb(248, 225, 225);
    color: rgb(41, 40, 30);
    /* border: solid 5px white; */
    text-align: center;
    margin: 25px;
    padding: 50px;
    border-radius: 50%;
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 40px;
    color: rgb(41, 40, 30);
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

h2 {
    color: rgb(41, 40, 30);
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(41, 40, 30);
}

ul {
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(41, 40, 30);
    font-size: 18px;
}

a {
    color: rgb(255, 119, 232);
}

img {
    width: 70%;
    margin: auto;
    display: block;
}

.kitties {
    width: 20%;
    display: block;
    margin: auto;
}