html {
    background-color: rgb(255, 240, 223);
}

/* FONTS */

body {
    font-size: 20px;
    text-align: left;
}

h1 {
    font-size: 40px;
    color: rgb(41, 40, 30);
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    margin-bottom: 5%;
}

h2 {
    color: rgb(41, 40, 30);
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(41, 40, 30);
    margin-top: 10%;
}

ul {
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(41, 40, 30);
    font-size: 18px;
}

a {
    color: rgb(255, 119, 232);
}

.journal {
    background-color: black;
    padding: 20px;
        font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 50px;
}


img {
    width: 70%;
    /* margin: auto; */
    /* display: block; */
}

.kitties {
    width: 20%;
    display: block;
    margin: auto;
    align-items:normal;
}





/* journal */

.week_ {
    margin-top: 10%;
    font-size: 20px;
    background-color: black;
    color: antiquewhite;
    padding-left: 10px;
}

p {
    color: rgb(41, 40, 30);
    text-align: left;
    margin-top: 25px;
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-left: 10px;
}