* {
    box-sizing: border-box;
}

body {
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(54, 45, 38);
}

h1 {
    color: antiquewhite;
    font-family: "swashington-jf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

p {
    color: antiquewhite;
    font-size: 15px;
    font-family: "elza-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;    

}

h2 {
    color: antiquewhite;
    font-size: 18px;
    font-family: "elza-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;    

}
